# Lines starting with # are comments
# Blank lines can be used as separator for readability

# The pattern below match a specific file which will be excluded
Hands-on_4/Ex_TMVA/tmva/TMVAC.root
Hands-on_4/Ex_TMVA/data/atlas-higgs-challenge-2014-v2.csv
Hands-on_4/Ex_TMVA/data/atlas-higgs-challenge-2014-v2-sig.root
Hands-on_4/Ex_TMVA/data/atlas-higgs-challenge-2014-v2-bkg.root

# The pattern below match a folder and all its content
Hands-on_4/Ex_TMVA/tmva/dataset
Hands-on_4/Ex_TMVA/tmva/files

# The pattern below matches any file with extension .root
#*.root
